@charset "UTF-8";

button,
fieldset,
iframe,
input,
select,
textarea {
	font-family: inherit;
}
html {
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 100%;
}
body {
	height: 100vh;
	font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	background: #fff;
}

/* base-wrap */
.base-wrap {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100vw;
	min-width: 128rem;
	height: 100vh;
}
.base-wrap::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0; 
	width: 24rem;
	min-height: 100%;
	background-color: #F8FAFD;
}

/* base-aside */
.base-aside {
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 24rem;
	height: 100%;
	padding: 0 1.6rem;
}
.base-header {
	padding: 3rem 0 4.2rem;
}
.base-header .wrap-logo .logo {
	display: flex;
	align-items: center;
}
.base-header .wrap-logo .logo > img {
	width: 4.8rem;
	height: 4.8rem;
}
.base-header .wrap-logo .logo-txt {
	margin-left: 1.6rem;
	color: #00008F;
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.4rem;
}

.base-nav {
	width: 100%;
	height: 100%;
}
.lnb {
	width: 100%;
	height: 100%;
	padding: 3.2rem 0;
}
.lnb-item:not(:first-child) {
	margin-top: 1.2rem;
}
.lnb-item .lnb-link {
  position: relative;
  display: flex;
  align-items: center;
	width: 100%;
  padding: 1.8rem 2.4rem;
  color: #969696;
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration: none;
  cursor: pointer;
}
.lnb-item.is-active > .lnb-link {
  color: #fff;
	background: var(--primary);
	border-radius: .8rem;
}
.lnb-item .lnb-sub {
	display: none;
}
.lnb-item.is-open .lnb-sub {
	display: block;
}
.lnb-item .lnb-link::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.lnb-item:nth-child(1) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(2) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(3) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 16L4 20L8 19L20 7L17 4L5 16Z' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 20H20' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(4) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(5) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(1).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(2).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(3).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(4).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(5).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}

.lnb-sub {
  margin: 1.2rem 0;
  padding-left: 5rem;
}
.lnb-sub-link {
  position: relative;
  display: block;
  padding-left: 1.2rem;
  color: var(--grays-3);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.lnb-sub-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: var(--grays-3);
  border-radius: 50%;
  transform: translateY(-50%);
}
.lnb-sub-link.is-active {
	color: var(--primary);
}
.lnb-subitem.is-active > .lnb-sub-link {
  color: var(--primary);
}
.lnb-subitem.is-active .lnb-sub-link::before {
  background-color: var(--primary);
}
.lnb-subitem + .lnb-subitem {
  margin-top: 1.2rem;
}
.lnb-subitem + .lnb-sub-link {
  margin-top: .6rem;
}

/* userbox */
.wrap-account {
	padding: 1.6rem;
	border: .1rem solid #E5E5EC;
	border-radius: .6rem;
}
.wrap-account .user-profile {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	color: var(--grays-1);
}
.wrap-account .wrap-img {
	width: 3.2rem;
	height: 3.2rem;
	min-width: 3.2rem;
	min-height: 3.2rem;
	margin-right: .8rem;
	border-radius: 50%;
	overflow: hidden;
}
.wrap-account .wrap-img > img {
	width: 100%;
	height: 100%;
}
.wrap-account .user-profile .user-name {
	margin-right: .8rem;
	font-size: 2rem;
	font-weight: 600;
}
.wrap-account .user-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.wrap-account .wrap-btn {
	margin-top: .8rem;
}
.wrap-account .btn.is-logout {
	color: var(--primary);
	font-size: 1.4rem;
	background-color: #F1F1F5;
	border-radius: .6rem;
}

/* base-content */
.base-content {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 24rem;
	width: calc(100% - 24rem);
	height: 100%;
	padding: 2.8rem;
	box-sizing: border-box;
}
.content-title {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.75;
}
.content-subtitle {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.5;
}
.module-top {

}
.module-bottom {
	margin-top: 2.8rem;
}
.module-bottom .content-title + .box-form {
	margin-top: 1rem;
}
.box-form {
  min-height: 100%;
  padding: 2.8rem;
  margin-top: 2.8rem;
  background: #fff;
  border-radius: 1.6rem;
  box-shadow: 4px 4px 21px 0px rgba(86, 86, 86, 0.07);
}

/* login */
.base-wrap.login {
	position: relative;
	display: flex;
	flex-direction: row;
	min-width: auto;
	justify-content: center;
	align-items: center;
	background-color: #F5F5F5;
}
.base-wrap.login::before {
	display:none;
}
.base-wrap.login .base-content {
	overflow: hidden;
	position: static;
	width: auto;
	height: auto;
	padding: 5rem;
	box-sizing: border-box;
}
.login-form {
	position: relative;
	width: 47rem;
	height: 46rem;
	padding: 5rem;
	background: #fff;
	border-radius: 3rem;
}
.login-form .login-head {
	margin-bottom: 2.4rem;
}
.login-form .login-head .wrap-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form .login-head .wrap-logo .login-txt {
	margin-left: 1.2rem;
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.4rem;
}
.login-form .inp-base {
	width: 100%;
	height: 5.6rem;
	font-size: 1.6rem;
	border-radius: .6rem;
}
.login-form .lb-inp {
	flex: 1;
	margin-right: 0;
}
.login-form .wrap-btn {
	margin-top: 2rem;
}
.login-form .wrap-btn .btn {
	color: #fff;
	font-weight: 600;
}
.login-info {
	padding-top: 2rem;
	margin-top: 4rem;
	border-top: .1rem solid var(--secondary-3);
}
.login-info .login-text {
	color: var(--grays-3);
	font-size: 1.2rem;
	text-align: center;
}
/* 비밀번호 변경 */
.login-form.has-pwchage {
	width: 80rem;
	height: 68rem;
}
.login-form.has-pwchage .list-base {
	margin: 2rem 0;
}

/* wrap */
.wrap-flex {
  display: flex;
	align-items: center;
}
.wrap-flex.is-end {
 justify-content: flex-end;
}  
.wrap-flex.is-both {
	justify-content: space-between;
}  