@charset "UTF-8";

button,
fieldset,
iframe,
input,
select,
textarea {
	font-family: inherit;
}
html {
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 100%;
}
body {
	height: 100vh;
	font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	background: #fff;
}

/* base-wrap */
.base-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 128rem;
	width: 100%;
	height: 100%;
}
.base-wrap::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0; 
	width: 24rem;
	min-height: 100%;
	background-color: var(--grays-12);
}

.base-content {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 24rem;
	width: calc(100% - 24rem);
	height: 100%;
	padding: 4rem 5rem 5rem;
	background: #fff;
	border-radius: 40px 0 0 0;
}

/* base-header */
.base-header {
	position: relative;
	display: flex;
	padding: 3.2rem 2.4rem 2.4rem;
}
.base-header .inner-header {

}
.base-header .wrap-logo {
	padding: 0 .8rem;
}
.base-header .wrap-logo .logo {
	display: flex;
	align-items: center;
}
.base-header .wrap-logo .logo > img {
	width: 3.2rem;
	height: 3.2rem;
}
.base-header .wrap-logo .logo-txt {
	margin-left: 1rem;
	color: var(--grays-1);
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.4rem;
}
.wrap-account {
	width: 19.2rem;
	margin-top: 5rem;
	padding: 1.6rem;
	background: var(--grays-11);
	border-radius: .6rem;
}
.wrap-account .user-profile {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	color: var(--grays-1);
}
.wrap-account .wrap-img {
	width: 3.2rem;
	height: 3.2rem;
	min-width: 3.2rem;
	min-height: 3.2rem;
	margin-right: 1.2rem;
	border-radius: 50%;
	overflow: hidden;
}
.wrap-account .wrap-img > img {
	width: 100%;
	height: 100%;
}
.wrap-account .user-profile .user-name {
	margin-right: .8rem;
	color: var(--grays-1);
	font-size: 1.6rem;
	font-weight: 500;
}
.wrap-account .user-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	color: var(--grays-4);
	font-size: 1.6rem;
}
.wrap-account .wrap-btn {
	margin-top: .8rem;
}
.wrap-account .btn.is-logout {
	color: var(--primary);
	font-size: 1.4rem;
	background-color: #F1F1F5;
	border-radius: .6rem;
}

/* base-aside */
.base-aside {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 24rem;
	height: 100%;
	padding: 0 .4rem 0 0;
}
.base-nav {
	width: 100%;
	height: 100%;
}
.lnb {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding: 0 2.4rem;
}
.lnb-item:not(:first-child) {
	margin-top: 1.2rem;
}
.lnb-item .lnb-link {
  position: relative;
  display: flex;
  align-items: center;
	width: 100%;
  padding: 1.4rem 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-decoration: none;
  cursor: pointer;
}
.lnb-item.is-active > .lnb-link {
  color: #fff;
	font-weight: 600;
	background: var(--primary);
	border-radius: .6rem;
}
/* .lnb-item .lnb-sub {
	display: none;
}
.lnb-item.is-open .lnb-sub {
	display: block;
} */
.lnb-item .lnb-link::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.lnb-item:nth-child(1) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9.09091L12 4L20 9.09091V20H4V9.09091Z' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14H14' stroke='%23111111' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(2) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(3) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(4) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(5) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='%23111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(1).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9.09091L12 4L20 9.09091V20H4V9.09091Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14H14' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(2).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(3).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(4).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb-item:nth-child(5).is-active .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4H4V20H20V14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 4L20 7L17 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 7H15C13.3431 7 12 8.34315 12 10V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}

.lnb-sub {
  margin: 1.2rem 0;
  padding-left: 5rem;
}
.lnb-sub-link {
  position: relative;
  display: block;
  padding-left: 1.2rem;
  color: var(--grays-4);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.lnb-sub-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: var(--grays-4);
  border-radius: 50%;
  transform: translateY(-50%);
}
.lnb-sub-link.is-active {
	color: var(--primary);
}
.lnb-subitem.is-active > .lnb-sub-link {
  color: var(--primary);
}
.lnb-subitem.is-active .lnb-sub-link::before {
  background-color: var(--primary);
}
.lnb-subitem + .lnb-subitem {
  margin-top: 1.2rem;
}
.lnb-subitem + .lnb-sub-link {
  margin-top: .6rem;
}
.wrap-bottom {
	z-index: 1;
	padding: 2.4rem 2.4rem 3.4rem;
}
.copyright {
	position: relative;
	margin-top: 2rem;
	padding-top: .8rem;
	padding-left: 4.2rem;
	color: var(--grays-7);
	font-size: 1.2rem;
  font-weight: 300;
	line-height: 2rem;
	border-top: .1rem solid var(--grays-10);
}
.copyright::before {
	content: '';
	position: absolute;
	left: 1.9rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.8rem;
	background: url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_180_13158)'%3E%3Cpath d='M8.15405 6.95649L8.98332 5.2126L14.0514 6.85802L10.3211 3.45919L10.3095 3.44648L7.90844 4.19613L7.89111 4.20248L7.53281 5.95907L5.81069 0L5.29637 5.3333V5.35236L7.16874 7.05496L6.25278 8.71308L6.247 8.72261L6.33946 9.45955L3.2044 13.8526L2.79121 15.4885L2.55139 14.7229L0.754148 14.3513L0.0115581 16.4351L0 16.4668L1.74234 17.2482L1.75968 17.2546L2.72475 16.3652L2.97036 17.9788H11.2371L10.9481 16.9687L10.3298 16.578L9.95124 15.5901L9.63349 11.6418L11.422 10.7619L11.6821 9.10378L10.5754 8.17626L8.15982 6.95014L8.15405 6.95649ZM6.71798 8.70673L7.46057 7.35673L9.7403 9.75178L9.30693 11.124L6.7151 8.70673H6.71798ZM8.2465 15.768L9.30693 12.5471L9.55832 15.6759L9.82121 16.3747L8.24939 15.768H8.2465ZM6.247 10.2918L5.55642 15.7458L3.28242 17.3975L3.0686 16.0062L3.55692 14.0591L6.247 10.2886V10.2918ZM5.96673 15.6791L6.74399 9.53896L6.71221 9.27214L9.20003 11.5941L7.85354 15.6791H5.96384H5.96673ZM3.79096 17.55L5.76735 16.1142H7.94889L10.1073 16.9496L10.613 17.2673L10.6939 17.55H3.79096ZM8.60191 5.08554L7.79575 6.77543L7.76974 6.76273L8.14249 4.93307L8.59902 5.08554H8.60191ZM10.0293 9.45002L8.07025 7.39167L10.376 8.56061L11.0348 9.11331L10.0264 9.44684L10.0293 9.45002ZM11.0666 10.4665L9.72595 11.1304L10.1246 9.86614L11.2169 9.51037L11.0666 10.4665ZM10.22 3.93248L12.234 5.80025L8.29851 4.53283L10.2229 3.93566L10.22 3.93248ZM5.70957 5.16813L6.01295 2.18224L7.29588 6.61342L5.70667 5.1713L5.70957 5.16813ZM1.81457 15.0184L0.647238 15.8442L1.00264 14.85L1.81457 15.0184ZM0.705027 16.3207L2.27978 15.2058L2.52538 15.9904L1.68744 16.7622L0.705027 16.3207ZM11.4191 17.3245H11.9104V17.4388H11.7254V17.9852H11.6012V17.4388H11.4162V17.3245H11.4191ZM12.1502 17.3245L12.3178 17.7724H12.3236L12.4912 17.3245H12.6442V17.982H12.5229V17.55H12.5171L12.3611 17.9788H12.2773L12.1213 17.55H12.1155V17.982H11.9942V17.3245H12.1473H12.1502Z' fill='%237F7F83'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_180_13158'%3E%3Crect width='15' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
}

/* base-content */
.base-content {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 24rem;
	width: calc(100% - 24rem);
	height: 100%;
	padding: 6rem 5rem 5.4rem;
	box-sizing: border-box;
}
.content-title {
	margin-bottom: 1.2rem;
	color: var(--grays-1);
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 4.2rem;
	letter-spacing: -.64px;
}
.content-subtitle {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.5;
}
.module-top .form-searchbox + .wrap-btn {
	margin-top: 2rem;
}
.module-bottom {
	margin-top: 5rem;
}

/* login */
.base-wrap.login {
	min-width: auto;
	justify-content: center;
	align-items: center;
	background-color: var(--grays-12);
}
.base-wrap.login::before {
	display:none;
}
.base-wrap.login .base-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: static;
	width: 100%;
	padding: 12rem 0 6rem;
	border-radius: 0;
	background-color: transparent;
}
.base-wrap.login .copyright {
  width: fit-content;
  margin-top: 3.4rem;
  padding-top: .4rem;
  padding-left: 0;
	border-top: 0;
}
.base-wrap.login .copyright::before {
  left: -2.3rem;
}
.login-form .login-head {
	margin-bottom: 3.2rem;
}
.login-form .login-head .wrap-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form .login-head .wrap-logo img {
	width: 4rem;
}
.login-form .login-head .wrap-logo .login-txt {
	margin-left: 1.6rem;
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 4.2rem;
}
.login-form .login-body {
	width: 50rem;
	padding: 8rem 5rem;
	border-radius: 2rem;
	background-color: #fff;
	box-shadow: 2rem 3.2rem 3.6rem -1rem rgba(35, 48, 59, 0.1);
}
.login-form .login-body .login-tit {
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 3.4rem;
}
.login-form .login-body .form-input {
	margin-top: 2.4rem;
}
.login-form .form-input > label .lb-title {
	font-weight: 600;
	color: var(--grays-2);
}
.login-form .inp-base {
	height: 5.6rem;
	font-size: 1.6rem;
	border-radius: .6rem;
}
.login-form .wrap-btn {
	margin-top: 3.2rem;
}
.login-form .wrap-btn .btn {
	width: 100%;
	font-weight: 600;
}
/* 비밀번호 변경 */
.login-form.has-pwchange .list-tit {
	margin: 3.2rem 0 1.2rem;
	padding: .2rem 0;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
}

/* wrap */
.wrap-flex {
	display: flex;
	align-items: center;
}
.wrap-flex.is-end {
	justify-content: flex-end;
}  
.wrap-flex.is-both {
	justify-content: space-between;
}  