@charset "UTF-8";

/* default */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {border-radius: .4rem;}
::-webkit-scrollbar {width: .8rem; height: .8rem; background-color: #F1F3F4;}
::-webkit-scrollbar-thumb {background-color: #C6CBD0;}

/* lnb */
.lnb::-webkit-scrollbar,
.lnb::-webkit-scrollbar-thumb {border-radius: .3rem;}
.lnb::-webkit-scrollbar {width: .4rem; height: .4rem; background-color: var(--grays-12);}
.lnb::-webkit-scrollbar-thumb {background-color: var(--grays-12);}

/* scroll-content */
.scroll-content::-webkit-scrollbar,
.scroll-content::-webkit-scrollbar-thumb {border-radius: .6rem;}
.scroll-content::-webkit-scrollbar {width: .6rem; height: .6rem; background-color: #fff;}
.scroll-content::-webkit-scrollbar-thumb {background-color: var(--grays-12);}

/* modal */
.has-scrollbar::-webkit-scrollbar,
.has-scrollbar::-webkit-scrollbar-thumb {border-radius: .4rem;}
.has-scrollbar::-webkit-scrollbar {width: .4rem; height: .4rem; background-color: transparent;}
.has-scrollbar::-webkit-scrollbar-thumb {background-color: var(--grays-10);}

/* textarea */
.inp-textarea::-webkit-scrollbar,
.inp-textarea::-webkit-scrollbar-thumb {border-radius: 1rem;}
.inp-textarea::-webkit-scrollbar {width: 1.2rem; background-color: transparent;}
.inp-textarea::-webkit-scrollbar-thumb {background-clip: padding-box; border: .4rem solid transparent; background-color: var(--grays-10);}