<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AXA MDM GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body class="bg-white"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-header -->
    <header class="base-header"></header>
    <!-- //base-header -->

    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- //base-aside -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Buttons</h1>
      <h2 class="component-title">Type</h2>
      <div class="wrap-btn">
        <button type="button" class="btn is-primary">버튼명</button>
        <button type="button" class="btn is-outline-1">버튼명</button>
        <button type="button" class="btn is-outline-2">버튼명</button>
        <button type="button" class="btn is-outline-3">버튼명</button>
        <button type="button" class="btn" disabled>버튼명</button> <!-- 비활성화 -->
      </div>

<pre>
<code class="language-Markup">&lt;button type="button" class="btn is-primary"&gt;버튼명&lt;/button&gt;
&lt;button type="button" class="btn is-outline-1"&gt;버튼명&lt;/button&gt;
&lt;button type="button" class="btn is-outline-2"&gt;버튼명&lt;/button&gt;
&lt;button type="button" class="btn is-outline-3"&gt;버튼명&lt;/button&gt;
&lt;button type="button" class="btn" disabled&gt;버튼명&lt;/button&gt; &lt;!-- 비활성화 --&gt;</code>
</pre>

      <h2 class="component-title">Size</h2>
      <div class="wrap-btn">
        <button type="button" class="btn is-primary is-h56">h56</button>
        <button type="button" class="btn is-primary is-h48">h48</button>
        <button type="button" class="btn is-primary is-h36">h36</button>
        <button type="button" class="btn is-primary is-h28">h28</button>
      </div>
<pre>
<code class="language-Markup">&lt;button type="button" class="btn is-primary is-h56">h56&lt;/button>
&lt;button type="button" class="btn is-primary is-h48">h48&lt;/button>
&lt;button type="button" class="btn is-primary is-h36">h36&lt;/button>
&lt;button type="button" class="btn is-primary is-h28">h28&lt;/button></code>
</pre>

      <h2 class="component-title">Icon</h2>
      <div class="wrap-btn">
        <button type="button" class="btn-ico is-setting"><span class="hidden">설정</span></button>
        <button type="button" class="btn-ico is-modify"><span class="hidden">수정</span></button>
        <button type="button" class="btn-ico is-delete"><span class="hidden">삭제</span></button>
      </div>
<pre>
<code class="language-Markup">&lt;button type="button" class="btn-ico is-setting">&lt;span class="hidden">설정&lt;/span>&lt;/button>
&lt;button type="button" class="btn-ico is-modify">&lt;span class="hidden">수정&lt;/span>&lt;/button>
&lt;button type="button" class="btn-ico is-delete">&lt;span class="hidden">삭제&lt;/span>&lt;/button></code>
</pre>

      <h2 class="component-title">Floating</h2>
      <div class="wrap-btn">
        <button type="button" class="btn-circle is-arrow"><span class="hidden">최상단으로 이동</span></button>
      </div>
<pre>
<code class="language-Markup">&lt;div class="wrap-btn is-floating">
  &lt;button type="button" class="btn-ico is-setting">&lt;span class="hidden">설정&lt;/span>&lt;/button>
&lt;/div></code>
</pre>
  
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/jquery/jquery.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>
</body>
</html>