<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AXA MDM GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="colors" class="bg-white"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-header -->
    <header class="base-header"></header>
    <!-- //base-header -->
     
    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- //base-aside -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Color</h1>
      <h2 class="component-title">Primary Color</h2>
      <div class="wrap-color">
        <div class="color-item bg-primary">
          #5A46FF
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-primary">&lt;/div></code>
</pre>
      <!-- <h2 class="component-title">Secondary Color</h2>
      <div class="wrap-color">
        <div class="color-item bg-secondary-1" style="color: #000;">
          #7C7E8A
        </div>
        <div class="color-item bg-secondary-2" style="color: #000;">
          #7C7E8A
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-secondary-1">&lt;/div>
&lt;div class="bg-secondary-2">&lt;/div></code>
</pre> -->
      <h2 class="component-title">Gray Scale</h2>
      <div class="wrap-color">
        <div class="color-item bg-grays-1">
          <em>Gray01</em>#111111
        </div>
        <div class="color-item bg-grays-2">
          <em>Gray02</em>#333333
        </div>
        <div class="color-item bg-grays-3">
          <em>Gray03</em>#555555
        </div>
        <div class="color-item bg-grays-4">
          <em>Gray04</em>#767676
        </div>
        <div class="color-item bg-grays-5">
          <em>Gray05</em>#888888
        </div>
        <div class="color-item bg-grays-6" style="color: #000;">
          <em>Gray06</em>#E7E7E7
        </div>
        <div class="color-item bg-grays-7">
          <em>Gray07</em>#7F7F83
        </div>
        <div class="color-item bg-grays-8">
          <em>Gray08</em>#7C7E8A
        </div>
        <div class="color-item bg-grays-9">
          <em>Gray09</em>#C2C2C9
        </div>
        <div class="color-item bg-grays-10" style="color: #000;">
          <em>Gray10</em>#D4D6DD
        </div>
        <div class="color-item bg-grays-11" style="color: #000;">
          <em>Gray11</em>#E7E7F3
        </div>
        <div class="color-item bg-grays-12" style="color: #000;">
          <em>Gray12</em>#F7F7FB
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-grays-1">&lt;/div>
&lt;div class="bg-grays-2">&lt;/div>
&lt;div class="bg-grays-3">&lt;/div>
&lt;div class="bg-grays-4">&lt;/div>
&lt;div class="bg-grays-5">&lt;/div>
&lt;div class="bg-grays-6">&lt;/div>
&lt;div class="bg-grays-7">&lt;/div>
&lt;div class="bg-grays-8">&lt;/div>
&lt;div class="bg-grays-9">&lt;/div>
&lt;div class="bg-grays-10">&lt;/div>
&lt;div class="bg-grays-11">&lt;/div>
&lt;div class="bg-grays-12">&lt;/div></code>
</pre>
      <h2 class="component-title">System Color</h2>
      <div class="wrap-color">
        <div class="color-item bg-system-1">
          <em>Error</em>#E80000
        </div>
        <div class="color-item bg-system-2">
          <em>Warning</em>#FFAA00
        </div>
        <div class="color-item bg-system-3">
          <em>Success</em>#00A04A
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-system-1">&lt;/div>
&lt;div class="bg-system-2">&lt;/div>
&lt;div class="bg-system-3">&lt;/div></code>
</pre>
  <h2 class="component-title">Button Color</h2>
      <div class="wrap-color">
        <div class="color-item bg-primary">#F16122</div>
        <div class="bordercolor-item bd-grays-1" style="color: #000;">#D4D6DD<br>line</div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-primary">#F16122&lt;/div>
&lt;div class="bd-grays-1">#D4D6DD&lt;/div></code>
</pre>
      <h2 class="component-title">Text Color</h2>
      <div class="wrap-txtcolor">
        <div class="txtcolor-item text-primary">text-primary</div>
        <div class="txtcolor-item text-grays-1">text-grays-1</div>
        <div class="txtcolor-item text-grays-2">text-grays-2</div>
        <div class="txtcolor-item text-grays-3">text-grays-3</div>
        <div class="txtcolor-item text-red">text-red</div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="text-primary">&lt;/div>
&lt;div class="text-grays-1">&lt;/div>
&lt;div class="text-grays-2">&lt;/div>
&lt;div class="text-grays-3">&lt;/div>
&lt;div class="text-red">&lt;/div></code>
</pre>
      <h2 class="component-title">Line Color</h2>
      <div class="wrap-bordercolor">
        <div class="bordercolor-item bd-primary"></div>
        <div class="bordercolor-item bd-grays-1"></div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bd-primary">&lt;/div>
&lt;div class="bd-grays-1">&lt;/div></code>
</pre>
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/jquery/jquery.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>
</body>
</html>