<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AXA MDM GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/jquery-ui.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/tui-pagination.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body class="bg-white"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- // base-aside -->

    <!-- content -->
    <main class="base-content">
      <h1 class="component-h1">Forms</h1>
      <h2 class="component-title">Checkbox</h2>
      <div class="wrap-group">
        <div class="form-checkbox">
          <label class="lb-checkbox"><input type="checkbox" class="inp-checkbox">default</label>
          <label class="lb-checkbox"><input type="checkbox" class="inp-checkbox" checked>checked</label>
          <label class="lb-checkbox is-disabled"><input type="checkbox" class="inp-checkbox" disabled>disabled</label>
          <label class="lb-checkbox is-disabled"><input type="checkbox" class="inp-checkbox" checked disabled>disabled(checked)</label>
        </div>
      </div>
<pre>
<code class="language-Markup">&lt;div class="form-checkbox">
  &lt;label class="lb-checkbox">&lt;input type="checkbox" class="inp-checkbox">default&lt;/label>
  &lt;label class="lb-checkbox">&lt;input type="checkbox" class="inp-checkbox" checked>checked&lt;/label>
  &lt;label class="lb-checkbox is-disabled">&lt;input type="checkbox" class="inp-checkbox" disabled>disabled&lt;/label>
  &lt;label class="lb-checkbox is-disabled">&lt;input type="checkbox" class="inp-checkbox" checked disabled>disabled(checked)&lt;/label>
&lt;/div></code>
</pre>
<!-- //checkbox -->

<h2 class="component-title">Radio</h2>
<div class="wrap-group">
  <div class="form-radio">
    <label class="lb-radio"><input type="radio" name="rdoGroup" class="inp-radio">default</label>
    <label class="lb-radio"><input type="radio" name="rdoGroup" class="inp-radio" checked>checked</label>
    <label class="lb-radio is-disabled"><input type="radio" name="rdoGroup" class="inp-radio" disabled>disabled</label>
    <label class="lb-radio is-disabled"><input type="radio" name="rdoGroup2" class="inp-radio" checked disabled>disabled(checked)</label>
  </div>
</div>
<pre>
<code class="language-Markup">&lt;div class="form-radio">
&lt;label class="lb-radio">&lt;input type="radio" name="rdoGroup" class="inp-radio">default&lt;/label>
&lt;label class="lb-radio">&lt;input type="radio" name="rdoGroup" class="inp-radio" checked>checked&lt;/label>
&lt;label class="lb-radio is-disabled">&lt;input type="radio" name="rdoGroup" class="inp-radio" disabled>disabled&lt;/label>
&lt;label class="lb-radio is-disabled">&lt;input type="radio" name="rdoGroup2" class="inp-radio" checked disabled>disabled(checked)&lt;/label>
&lt;/div></code>
</pre>
<!-- // radio -->

<h2 class="component-title">Switch(Checkbox)</h2>
<div class="form-switch">
  <label class="lb-switch"><input type="checkbox" class="inp-switch">&nbsp;default</label>
  <label class="lb-switch"><input type="checkbox" class="inp-switch" checked>&nbsp;checked</label>
  <label class="lb-switch is-disabled"><input type="checkbox" class="inp-switch" disabled>&nbsp;disabled</label>
  <label class="lb-switch is-disabled"><input type="checkbox" class="inp-switch" checked disabled>&nbsp;disabled(checked)</label>
</div>

<pre>
<code class="language-Markup">&lt;div class="form-switch">
  &lt;label class="lb-switch">&lt;input type="checkbox" class="inp-switch">&nbsp;default&lt;/label>
  &lt;label class="lb-switch">&lt;input type="checkbox" class="inp-switch" checked>&nbsp;checked&lt;/label>
  &lt;label class="lb-switch is-disabled">&lt;input type="checkbox" class="inp-switch" disabled>&nbsp;disabled&lt;/label>
  &lt;label class="lb-switch is-disabled">&lt;input type="checkbox" class="inp-switch" checked disabled>&nbsp;disabled(checked)&lt;/label>
&lt;/div></code>
</pre>

<h2 class="component-title">Switch Text(Checkbox)</h2>
<div class="form-switch">
  <label class="lb-switch is-text"><input type="checkbox" class="inp-switch"><span class="false">OFF</span><span class="true">ON</span></label>
  <label class="lb-switch is-text"><input type="checkbox" class="inp-switch" checked><span class="false">OFF</span><span class="true">ON</span></label>
  <label class="lb-switch is-text"><input type="checkbox" class="inp-switch" disabled><span class="false">OFF</span><span class="true">ON</span></label>
  <label class="lb-switch is-text"><input type="checkbox" class="inp-switch" checked disabled><span class="false">OFF</span><span class="true">ON</span></label>
</div>

<pre>
<code class="language-Markup">&lt;div class="form-switch">
  &lt;label class="lb-switch is-text">&lt;input type="checkbox" class="inp-switch">&lt;span class="false">OFF&lt;/span>&lt;span class="true">ON&lt;/span>&lt;/label>
  &lt;label class="lb-switch is-text">&lt;input type="checkbox" class="inp-switch" checked>&lt;span class="false">OFF&lt;/span>&lt;span class="true">ON&lt;/span>&lt;/label>
  &lt;label class="lb-switch is-text">&lt;input type="checkbox" class="inp-switch" disabled>&lt;span class="false">OFF&lt;/span>&lt;span class="true">ON&lt;/span>&lt;/label>
  &lt;label class="lb-switch is-text">&lt;input type="checkbox" class="inp-switch" checked disabled>&lt;span class="false">OFF&lt;/span>&lt;span class="true">ON&lt;/span>&lt;/label>
&lt;/div></code>
</pre>
<!-- //toggle -->

  <h2 class="component-title">Input Text</h2>
  <div class="form-input">
    <input class="inp-base" type="text" maxlength="8" placeholder="텍스트" value="normal">
    <input class="inp-base" type="text" maxlength="8" value="readonly" readonly>
    <input class="inp-base" type="text" maxlength="8" value="disabled" disabled>
    <input class="inp-base is-warning" type="text" maxlength="8" value="warning">
  </div>
<pre>
<code class="language-Markup">&lt;input class="inp-base" type="text" maxlength="8" placeholder="텍스트" value="normal">
&lt;input class="inp-base" type="text" maxlength="8" value="readonly" readonly>
&lt;input class="inp-base" type="text" maxlength="8" value="disabled" disabled>
&lt;input class="inp-base is-warning" type="text" maxlength="8" value="warning"></code>
</pre>
<!-- // input(text) -->

  <h2 class="component-title">Input Password</h2>
  <div class="form-input">
    <input class="inp-base" type="password" maxlength="8" placeholder="텍스트" value="normal">
    <input class="inp-base" type="password" maxlength="8" value="readonly" readonly>
    <input class="inp-base" type="password" maxlength="8" value="disabled" disabled>
    <input class="inp-base is-warning" type="password" maxlength="8" value="warning">
  </div>
<pre>
<code class="language-Markup">&lt;input class="inp-base" type="password" maxlength="8" placeholder="텍스트" value="normal">
&lt;input class="inp-base" type="password" maxlength="8" value="readonly" readonly>
&lt;input class="inp-base" type="password" maxlength="8" value="disabled" disabled>
&lt;input class="inp-base is-warning" type="password" maxlength="8" value="warning"></code>
</pre>
<!-- // input(password) -->
  
  <h2 class="component-title">Select</h2>
  <div class="wrap-group select">
    <select class="inp-select is-h56">
      <option value="select1">셀렉트1</option>
      <option value="select2">셀렉트2</option>
      <option value="select3">셀렉트3</option>
    </select>

    <select class="inp-select is-h48">
      <option value="select1">셀렉트1</option>
      <option value="select2">셀렉트2</option>
      <option value="select3">셀렉트3</option>
    </select>

    <select class="inp-select">
      <option value="select1">셀렉트1</option>
      <option value="select2">셀렉트2</option>
      <option value="select3">셀렉트3</option>
    </select>
  </div>
<pre>
<code class="language-Markup">&lt;select class="inp-select is-h56">
  &lt;option value="select1">셀렉트1&lt;/option>
  &lt;option value="select2">셀렉트2&lt;/option>
  &lt;option value="select3">셀렉트3&lt;/option>
&lt;/select>

&lt;select class="inp-select is-h48">
  &lt;option value="select1">셀렉트1&lt;/option>
  &lt;option value="select2">셀렉트2&lt;/option>
  &lt;option value="select3">셀렉트3&lt;/option>
&lt;/select>

&lt;select class="inp-select"> &lt;!-- default --&gt;
  &lt;option value="select1">셀렉트1&lt;/option>
  &lt;option value="select2">셀렉트2&lt;/option>
  &lt;option value="select3">셀렉트3&lt;/option>
&lt;/select></code>
</pre>
<!-- // select -->

<h2 class="component-title">Textarea</h2>
<div class="wrap-textarea">
  <textarea class="inp-textarea" placeholder="내용입력"></textarea>
</div>

<pre><code class="language-Markup">&lt;div class="wrap-textarea">
  &lt;textarea class="inp-textarea" placeholder="내용입력">&lt;/textarea>
&lt;/div></code>
</pre>
<!-- //textarea -->
 
  <h2 class="component-title">Date</h2>
  <div class="wrap-group">
    <div class="area-datepicker">
      <!-- DatePicker -->
      <div class="wrap-datepicker">
        <div class="datePicker">
          <div class="tui-datepicker-input">
            <input type="text" id="startpicker-inp1" aria-label="Date-Time">
            <div id="startpicker-div1" class="datepicker-div"></div>
          </div>
        </div>
        <span class="datepicker-to">~</span>
        <div class="datePicker">
          <div class="tui-datepicker-input">
            <input type="text" id="endpicker-inp1" aria-label="Date-Time">
            <div id="endpicker-div1" class="datepicker-div"></div>
          </div>
        </div>
      </div>
      <!-- //DatePicker -->
      <div class="btn-options">
        <button type="button" class="btn is-outline-1 is-active">전체</button>
        <button type="button" class="btn is-outline-1">오늘</button>
        <button type="button" class="btn is-outline-1">1주일</button>
        <button type="button" class="btn is-outline-1">1개월</button>
        <button type="button" class="btn is-outline-1">3개월</button>
        <button type="button" class="btn is-outline-1">6개월</button>
      </div>
    </div>
  </div>
<pre>
<code class="language-Markup">&lt;div class="area-datepicker">
  &lt;!-- DatePicker --&gt;
  &lt;div class="wrap-datepicker">
    &lt;div class="datePicker">
      &lt;div class="tui-datepicker-input">
        &lt;input type="text" id="startpicker-inp1" aria-label="Date-Time">
        &lt;div id="startpicker-div1" class="datepicker-div">&lt;/div>
      &lt;/div>
    &lt;/div>
    &lt;span class="datepicker-to">~&lt;/span>
    &lt;div class="datePicker">
      &lt;div class="tui-datepicker-input">
        &lt;input type="text" id="endpicker-inp1" aria-label="Date-Time">
        &lt;div id="endpicker-div1" class="datepicker-div">&lt;/div>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;!-- //DatePicker --&gt;
  &lt;div class="btn-options">
    &lt;button type="button" class="btn is-outline-1 is-active">전체&lt;/button>
    &lt;button type="button" class="btn is-outline-1">오늘&lt;/button>
    &lt;button type="button" class="btn is-outline-1">1주일&lt;/button>
    &lt;button type="button" class="btn is-outline-1">1개월&lt;/button>
    &lt;button type="button" class="btn is-outline-1">3개월&lt;/button>
    &lt;button type="button" class="btn is-outline-1">6개월&lt;/button>
  &lt;/div>
&lt;/div></code>
</pre>
<!-- // datepicker -->
    </main>
      <!-- //content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/jquery/jquery.min.js"></script>
  <script src="../../resources/js/jquery/jquery-ui.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/tui-pagination.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>

  <!-- page script -->
  <script>
    // DatePicker
    const today = new Date();
    const startpicker = new tui.DatePicker('#startpicker-div1', {
      date: today,
      language: 'ko',
      input: {
        element: '#startpicker-inp1',
        format: 'yyyy.mm.dd'
      }
    });
    const endpicker = new tui.DatePicker('#endpicker-div1', {
      date: today,
      language: 'ko',
      input: {
        element: '#endpicker-inp1',
        format: 'yyyy.MM.dd'
      }
    });

    // UI 확인용 스크립트
    document.querySelector('.btn-options').addEventListener('click', function (event) {
      const target = event.target;
      if (!target.classList.contains('btn')) return;

      let startDate, endDate = today;
      switch (target.textContent.trim()) {
        case '전체':
          break;
        case '오늘':
          startDate = endDate = today;
          break;
        case '1주일':
          startDate = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
          break;
        case '1개월':
          startDate = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate());
          break;
        case '3개월':
          startDate = new Date(today.getFullYear(), today.getMonth() - 3, today.getDate());
          break;
        case '6개월':
          startDate = new Date(today.getFullYear(), today.getMonth() - 6, today.getDate());
          break;
      }

      startpicker.setDate(startDate);
      endpicker.setDate(endDate);
    });
  </script>
  <!-- //page script -->
</body>
</html>