@charset "UTF-8";

/* Colors */
:root {
  --primary       : #545BFF;
  --secondary-1   : #F7F7FB;
  --secondary-2   : #F1F1F5;
  --grays-1       : #111111;
  --grays-2       : #555555;
  --grays-3       : #767676;
  --grays-4       : #7F7F83;
  --grays-5       : #999999;
  --grays-6       : #C2C2C9;
  --grays-7       : #D4D6DD;
  --grays-8       : #E7E7E7;
  --grays-9       : #F1F1F8;
  --grays-10      : #F7F7FB;
  --system-1      : #DC0000;
  --system-2      : #FFAA00;
  --system-3      : #04B014;
}