@charset "UTF-8";

.wrap-btn {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.wrap-btn.flex-wrap {
  flex-wrap: wrap;
}
/* .wrap-btn > .btn {
  flex: 1;
  min-width: initial;
} */
 .wrap-btn.is-end {
  justify-content: flex-end;
 }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  min-width: 5.5rem;
  padding: 0 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: .6rem;
  border-width: .1rem;
  border-style: solid;
  border-color: transparent;
  background-color: #fff;
  vertical-align: top;
}

/* sizes */
.btn.is-h36 {
  min-width: 10rem;
  height: 3.6rem;
  padding: 0 1.6rem;
  font-size: 1.4rem;
}
.btn.is-h48 {
  min-width: 10rem;
  height: 4.8rem;
  padding: 1.4rem 1.6rem;
  font-size: 1.4rem;
}
.btn.is-h56 {
  min-width: 10rem;
  height: 5.6rem;
  padding: 1.6rem 1.6rem;
  font-size: 1.6rem;
  border-radius: .6rem;
  letter-spacing: -.25px;
}
.btn.is-full {
  width: 100%;
  min-width: 100%;
}

/*  colors */
.btn.is-primary {
  color: #fff;
  background-color: var(--primary);
}
.btn.is-secondary-1 {
  color: var(--primary);
  background-color: #fff;
  border-color: var(--grays-7);
}
.btn.is-secondary-2 {
  color: var(--primary);
  background-color: var(--secondary-2);
}
.btn.is-outline-1 {
  color: var(--grays-1);
  border-color: var(--grays-7);
}
.btn.is-outline-2 {
  color: var(--grays-1);
  border-color: var(--grays-1);
}
.btn.is-outline-3 {
  color: var(--primary);
  border-color: var(--primary);
}
.btn.is-grays-1 {
  color: #fff;
  background-color:var(--grays-1);
}
.btn.is-grays-2 {
  color: #fff;
  background-color: var(--grays-2)
}
/* disabled */
.btn:disabled {
  color: var(--grays-6);
  border-color: var(--grays-7);
  background-color: var(--grays-8);
}

/* type */
.btn.is-search {
  min-width: 6rem;
  color: #fff;
  background-color: var(--primary);
}
.btn.is-text {
  min-width: 3rem;
  text-decoration: underline;
}
.btn-fileupload {
  min-width: 8rem;
  height: 2.8rem;
  padding: .4rem 1.3rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  border: .1rem solid var(--grays-1);
}

/* icon */
.btn-ico {
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 2.4rem;
  background-position: 50%;
  background-repeat: no-repeat;
}
.btn-ico.is-setting {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8' y='4' width='8' height='3' stroke='%23111111' stroke-width='1.5' stroke-linejoin='round'/%3E%3Crect x='6' y='7' width='12' height='13' stroke='%23111111' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M4 7H20' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 12V15' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 12V15' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.btn-ico.is-modify {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8' y='4' width='8' height='3' stroke='%23111111' stroke-width='1.5' stroke-linejoin='round'/%3E%3Crect x='6' y='7' width='12' height='13' stroke='%23111111' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M4 7H20' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 12V15' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 12V15' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.btn-ico.is-delete {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8' y='4' width='8' height='3' stroke='%23111111' stroke-width='1.5' stroke-linejoin='round'/%3E%3Crect x='6' y='7' width='12' height='13' stroke='%23111111' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M4 7H20' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 12V15' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 12V15' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.btn.is-logout {
  justify-content: flex-start;
  width: 100%;
  height: 5.2rem;
  padding: 1.4rem 0 1.4rem 5.6rem;
  color: var(--grays-4);
  font-size: 1.6rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9.09091L12 4L20 9.09091V20H4V9.09091Z' stroke='%237F7F83' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14H14' stroke='%237F7F83' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A") 1.6rem 50% no-repeat;
  border-radius: 0;
}