@charset "UTF-8";

.wrap-btn {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.wrap-btn.flex-wrap {
  flex-wrap: wrap;
}
.wrap-btn > .btn {
  flex: 1;
  min-width: initial;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3.4rem;
  min-width: 4.8rem;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: .4rem;
  border-width: .1rem;
  border-style: solid;
  border-color: transparent;
  background-color: #fff;
  vertical-align: top;
}

/* sizes */
.btn.is-h48 {
  min-width: initial;
  height: 4.8rem;
  padding: 1.4rem 1.6rem;
  font-size: 1.4rem;
}
.btn.is-h56 {
  min-width: initial;
  height: 5.6rem;
  padding: 1.6rem 1.6rem;
  font-size: 1.6rem;
  border-radius: .6rem;
}
.btn.is-full {
  width: 100%;
  min-width: 100%;
}

/*  colors */
.btn.is-primary {
  color: #fff;
  background-color: var(--primary);
}
.btn.is-secondary-1 {
  color: var(--primary);
  background-color: #fff;
  border-color: var(--grays-5);
}
.btn.is-secondary-2 {
  color: var(--primary);
  background-color: var(--secondary-2);
}
.btn.is-outline-1 {
  color: var(--grays-1);
  border-color: var(--grays-6);
}
.btn.is-outline-2 {
  color: var(--grays-1);
  border-color: var(--grays-1);
}
.btn.is-outline-3 {
  color: var(--primary);
  border-color: var(--primary);
}
.btn.is-grays-1 {
  color: #fff;
  background-color:var(--grays-1);
}
.btn.is-grays-2 {
  color: #fff;
  background-color: var(--grays-2)
}
/* disabled */
.btn:disabled {
  color: var(--grays-4);
  border-color: var(--grays-5);
  background-color: var(--grays-6);
}

/* type */
.btn.is-search {
  min-width: 6rem;
  color: #fff;
  background-color: var(--primary);
}
.btn.is-footer {
  min-width: 10rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.btn.is-footer.is-true {
  color: #fff;
  background: var(--primary);
}
.btn.is-footer.is-false {
  color: var(--primary);
  background: var(--secondary-2);
}
.btn.is-text {
  min-width: 3rem;
  text-decoration: underline;
}
.btn-fileupload {
  min-width: 8rem;
  height: 2.8rem;
  padding: .4rem 1.3rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  border: .1rem solid var(--grays-1);
}

/* icon */
.btn.is-reset {
  width: 3.2rem;
  height: 3.2rem;
  border-color: var(--grays-5);
  color: var(--primary);
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9997 8.89981C13.563 11.7865 11.0581 13.9997 8.03354 13.9997C4.7013 13.9997 2 11.3134 2 7.99984C2 4.68622 4.7013 2 8.03354 2C10.5076 2 12.634 3.48087 13.565 5.5999' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0081 2.31641V6.10578H10.2188' stroke='%23111111' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.btn.is-reset.is-active {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9997 8.89981C13.563 11.7865 11.0581 13.9997 8.03354 13.9997C4.7013 13.9997 2 11.3134 2 7.99984C2 4.68622 4.7013 2 8.03354 2C10.5076 2 12.634 3.48087 13.565 5.5999' stroke='%23545BFF' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0081 2.31641V6.10578H10.2188' stroke='%23545BFF' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
}