@charset "UTF-8";

/* tui-datepicker */
.datePicker {
  display: flex;
  align-items: center;
  width: 100%;
}
.datePicker-to {
  display: inline-block;
  width: .8rem;
  margin: 0 .4rem;
  color: var(--grays-3);
}
.tui-datepicker-input {
  width: 100%;
  height: 3.6rem;
  border: 0;
}
.tui-datepicker-input > input {
  padding: 0 .4rem;
  color: var(--grays-3);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  border: .1rem solid var(--grays-5);
  background-position: 1.2rem 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 3.5H2V10H10V3.5Z' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 3.5H2V6H10V3.5Z' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 2V3.5' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.5 2V3.5' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.tui-datepicker-input > input:focus {
  outline: none;
  border-color: var(--primary);
}

.tui-datepicker-input .tui-ico-date {
  display: none;
}
.datepicker-div {
  margin-left: -.1rem;
}
.datepicker-div.is-right {
  margin-right: -.1rem;
}
.datepicker-div.is-right .tui-datepicker {
  right: 0;
}
.datepicker-div.is-show .tui-datepicker {
  position: relative;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}
.datepicker-div .tui-calendar-header-info {
  display: none;
}
.datepicker-div .tui-datepicker {
  overflow: hidden;
  z-index: 1000;
  padding: 0 2.4rem 1.2rem;
  border: 0;
  border-radius: 1.6rem;
  box-shadow: 0 .2rem 2rem 0 rgba(0, 0, 0, .16);
}

.datepicker-div .tui-datepicker-type-date,
.datepicker-div .tui-calendar {
  width: 23.8rem;
}
.datepicker-div .tui-calendar .tui-calendar-title {
  color: #2A2A2C;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.014px;
}
.datepicker-div .tui-calendar .tui-calendar-header-inner {
  padding: 2rem 0 1.2rem;
  height: 5.2rem;
}
.datepicker-div .tui-calendar .tui-calendar-body-inner {
  color: #525252;
}
.datepicker-div .tui-calendar th {
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: -0.012px;
}
.datepicker-div .tui-calendar .tui-calendar-body-header th {
  color: #525252;
}
.datepicker-div .tui-calendar .tui-calendar-body-header th.tui-sun {
  color: #E5493A;
}
.datepicker-div .tui-calendar td {
  color: #2A2A2C;
}
.datepicker-div .tui-calendar td:not(.tui-is-selected).tui-calendar-sun {
  color: #E5493A;
}
.datepicker-div .tui-calendar td.tui-is-blocked {
  color: #9C9C9C;
}
.datepicker-div .tui-calendar .tui-calendar-next-month.tui-calendar-date {
  visibility: visible;
}
.datepicker-div .tui-calendar th {
  height: 1.6rem;
  padding: 1.6rem 0 .8rem;
}
.datepicker-div .tui-calendar td {
  height: 3.4rem;
}
.datepicker-div .tui-calendar-btn {
  top: 2.2rem;
  width: 1.6rem;
  height: 1.6rem;
}
.datepicker-div .tui-calendar-month .tui-calendar-body,
.datepicker-div .tui-calendar-year .tui-calendar-body {
  width: 100%;
  margin-top: 1.6rem;
}
.datepicker-div .tui-calendar .tui-calendar-btn-prev-month:after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-prev-year:after,
.datepicker-div .tui-calendar .tui-calendar-btn-next-month::after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-next-year::after {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -.8rem;
  background-position: 0 0;
}
.datepicker-div .tui-calendar .tui-calendar-btn-prev-month:after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-prev-year:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M10 3.59998L6 7.99998L10 12.4' stroke='%23A5AAAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.datepicker-div .tui-calendar .tui-calendar-btn-next-month::after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-next-year::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M6 3.59998L10 7.99998L6 12.4' stroke='%23A5AAAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.datepicker-div .tui-datepicker .tui-is-selectable.tui-is-selected,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected {
  position: relative;
  z-index: 1;
  background-color: #007CEF;
}
.datepicker-div .tui-datepicker .tui-calendar-week .tui-is-selectable.tui-is-selected,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-calendar-week .tui-is-selectable.tui-is-selected {
  background-color: transparent;
}
.datepicker-div .tui-datepicker .tui-calendar-week .tui-is-selectable.tui-is-selected::before,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-calendar-week .tui-is-selectable.tui-is-selected::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #007CEF;
  content: "";
  transform: translate(-50%, -50%);
}
.datepicker-div .tui-datepicker .tui-is-selectable:not(.tui-is-selected):hover {
  color: #007CEF;
}
.datepicker-div .tui-datepicker .tui-is-selectable:not(.tui-is-selected):hover,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-is-selected-range {
  background-color: transparent;
}
.datepicker-div.has-po-right .tui-datepicker {
  right: 0;
}
.datepicker-div.has-po-bottom .tui-datepicker {
  bottom: 100%;
}
.wrap-datepicker {
  display: flex;
  align-items: center;
  width: 23.3rem;
  max-height: 3.6rem;
  padding: 0 1.6rem 0 4rem;
  border: .1rem solid var(--grays-6);
  border-radius: .4rem;
  background-color: #fff;
  background-position: 1.6rem 50%;
  background-repeat: no-repeat;
  background-size: 1.6rem;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 4.66602H2.66663V13.3327H13.3333V4.66602Z' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3333 4.66602H2.66663V7.99935H13.3333V4.66602Z' stroke='%23111111' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.66663 2.66602V4.66602' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.3334 2.66602V4.66602' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.wrap-datepicker .datePicker .tui-datepicker-input >  input {
  width: 100%;
  padding: 0;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  border: 0;
  background-image: none;
}
.area-datepicker,
.area-datepicker .datePicker {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.area-datepicker .tui-datepicker-input {
  width: 7.7rem;
}
.wrap-datepicker .datepicker-to {
  margin: 0 .4rem;
  color: var(--grays-1);
  font-size: 1.4rem;
}
.area-datepicker .datePicker .tui-datepicker-input {
  height: 3.4rem;
}
.area-datepicker .btn-options {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 1.2rem;
}
.area-datepicker .btn-options .btn {
  padding: 0 1.2rem;
}
.area-datepicker .btn-options .btn.is-active {
  color: #fff;
  background-color: var(--primary);
}
.area-datepicker.is-disabled .datePicker .tui-datepicker-input > input {
  color: #B0B0B0;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 2.5H13C13.8284 2.5 14.5 3.17157 14.5 4V13C14.5 13.8284 13.8284 14.5 13 14.5H3C2.17157 14.5 1.5 13.8284 1.5 13V4C1.5 3.17157 2.17157 2.5 3 2.5Z' stroke='%23B0B0B0' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 1V2M12 1V2' stroke='%23B0B0B0' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 6H14M4 8.59747H8.66667M4 11H6.66667' stroke='%23B0B0B0' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}