@charset "UTF-8";

/* input */
.wrap-inp {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.inp-base {
  min-width: 24rem;
  height: 2.8rem;
  padding: 0 1.2rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  border-radius: .6rem;
  border: .1rem solid var(--grays-5);
  background-color: #fff;
  vertical-align: top;
  outline: none;
}
.inp-base:read-only {
  color: var(--grays-1);
  border: .1rem solid var(--grays-5);
  background-color: #F1F2F4;
}
.inp-base:disabled {
  color:#91929C;
  border: .1rem solid var(--grays-5);
  background-color: #F1F2F4;
}
.inp-base.is-focus {
  border-color: var(--primary);
}
.inp-base.is-warning {
  color: var(--system-1);
  border: .1rem solid var(--system-1);
  background-color: #FFE8E7;
}
.inp-base.is-sm,
.dl-formbox dd .inp-base.is-sm {
  width: 6.7rem;
  min-width: 6.7rem;
}
.inp-base.is-md,
.dl-formbox dd .inp-base.is-md {
  width: 13rem;
  min-width: 13rem;
}
.inp-base:not(.is-warning):not(:read-only):focus {
  border-color: var(--grays-1);
}
.lb-inp {
  min-width: 4.7rem;
  margin-right: .4rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  text-align: right;
}
.lb-inp:not(:first-child) {
  margin-left: .6rem;
}

/* select */
.inp-select {
  height: 2.8rem;
  min-width: 12rem;
  color: var(--grays-1);
  padding: 0 3rem 0 1rem;
  border-radius: .4rem;
  border-width: .1rem;
  border-style: solid;
  border-color: var(--grays-5);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: calc(100%  - 1.2rem) 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  outline: none;
}
.inp-select.is-sm {
  min-width: 5rem;
}
.inp-select.is-count {
  height: 2.4rem;
  border-radius: .4rem;
  margin-left: 2.4rem;
}
.inp-select:disabled {
  opacity: 1;
  color: #91929C;
  border: 0.1rem solid var(--grays-5);
  background-color: #F1F2F4;
}

/* checkbox */
.form-checkbox,
.form-checkbox > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
}
.form-checkbox + .form-checkbox {
  margin-top:.8rem;
}
.form-checkbox.is-center {
  justify-content: center;
}
.form-checkbox > label {
  justify-content: center;
  gap: .6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
} 
.inp-checkbox,
.inp-checkbox::after {
  width: 2rem;
  height: 2rem;
  border-radius: .4rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.inp-checkbox {
  position: relative;
  border: .1rem solid var(--grays-5);
  background-color: #fff;
  vertical-align: top;
}
.inp-checkbox::after {
  content: "";
  position: absolute;
  top: -.1rem;
  left: -.1rem; 
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.29412L4.46154 8L11 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 0;
}
.inp-checkbox:checked::after {
  opacity: 1;
}
.inp-checkbox:disabled {
  background-color: var(--secondary-3);
}
.inp-checkbox:disabled::after {
  background-color: var(--grays-5);
}

/* radio */
.form-radio,
.form-radio > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
}
.form-radio + .form-radio {
  margin-top:.8rem;
}
.inp-form-radio > label {
  justify-content: center;
  gap: .4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
} 
.inp-radio {
  position: relative;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  border: .1rem solid var(--grays-5);
  vertical-align: top;
}
.inp-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%; 
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary);
  opacity: 0;
  transform: translate(-50%, -50%);
}
.inp-radio:checked::after {opacity: 1;}
.inp-radio:disabled {background-color: var(--secondary-3);}
.inp-radio:disabled::after {background-color: var(--grays-5);}

/* toggle */
.toggle {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  cursor: pointer;
}
.toggle [type="checkbox"] {
  position: relative;
  width: 4.4rem;
  height: 2.4rem;
  border-radius: 1.6rem;
  background-color: var(--grays-3);
}
.toggle [type="checkbox"]::before {
  content: "";
  position: absolute;
  left: .2rem; top: .2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 .3rem .1rem rgba(0, 0, 0, .06), 0 .3rem .8rem rgba(0, 0, 0, .15);
  transition: left 150ms linear;
}
.toggle [type="checkbox"]:checked {
  border-color: var(--primary);
  background-color: var(--primary);
}
.toggle [type="checkbox"]:checked::before {left: 2.2rem;}
.toggle [type="checkbox"]:checked:disabled,
.toggle [type="checkbox"]:disabled {
  background-color: var(--grays-5);
}

.toggle.is-text {
  position: relative;
}
.toggle.is-text [type="checkbox"] {
  width: auto;
  min-width: 7.2rem;
  height: 3.6rem;
  border-radius: 1.8rem;
}
.toggle.is-text [type="checkbox"]::before {
  left: .3rem; top: .3rem;
  width: 3rem;
  height: 3rem;
}
.toggle.is-text [type="checkbox"]:checked::before {left: calc(100% - 3.3rem);}
.toggle.is-text span{
  display: none;
  position: absolute;
  right: .3rem;
  top: 0;
  width: calc(100% - 3.6rem);
  text-align: center;
  font-size: 1.2rem;
  line-height: 3.6rem;
  color:#fff;
}
.toggle.is-text .true{
  left: .3rem;
  right: auto;
}
.toggle.is-text [type="checkbox"] ~ .false {display: block;}
.toggle.is-text [type="checkbox"]:checked ~ .false {display: none;}
.toggle.is-text [type="checkbox"]:checked ~ .true {display: block;}

.toggle.is-h18 [type="checkbox"] {
  position: relative;
  width: 3.3rem;
  height: 1.8rem;
  border-radius: .9rem;
}
.toggle.is-h18 [type="checkbox"]::before {
  width: 1.4rem;
  height: 1.4rem;
}
.toggle.is-h18 [type="checkbox"]:checked::before {left: 1.7rem;}

/* tooltip */ 
.wrap-tooltip {
  display: flex;
  align-items: center;
}
.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.btn-tooltip {
  position: relative;
  top: 0;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 .4rem;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_470_1407)'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='%23767678'/%3E%3Cpath d='M8.54492 9.39258H7.05078C7.05469 9.04102 7.08203 8.73828 7.13281 8.48438C7.1875 8.22656 7.2793 7.99414 7.4082 7.78711C7.54102 7.58008 7.7168 7.375 7.93555 7.17188C8.11914 7.00781 8.2793 6.85156 8.41602 6.70312C8.55273 6.55469 8.66016 6.40234 8.73828 6.24609C8.81641 6.08594 8.85547 5.9082 8.85547 5.71289C8.85547 5.48633 8.82031 5.29883 8.75 5.15039C8.68359 4.99805 8.58203 4.88281 8.44531 4.80469C8.3125 4.72656 8.14453 4.6875 7.94141 4.6875C7.77344 4.6875 7.61719 4.72461 7.47266 4.79883C7.32812 4.86914 7.20898 4.97852 7.11523 5.12695C7.02539 5.27539 6.97852 5.4707 6.97461 5.71289H5.27539C5.28711 5.17773 5.41016 4.73633 5.64453 4.38867C5.88281 4.03711 6.20117 3.77734 6.59961 3.60938C6.99805 3.4375 7.44531 3.35156 7.94141 3.35156C8.48828 3.35156 8.95703 3.44141 9.34766 3.62109C9.73828 3.79688 10.0371 4.05664 10.2441 4.40039C10.4512 4.74023 10.5547 5.1543 10.5547 5.64258C10.5547 5.98242 10.4883 6.28516 10.3555 6.55078C10.2227 6.8125 10.0488 7.05664 9.83398 7.2832C9.61914 7.50977 9.38281 7.74414 9.125 7.98633C8.90234 8.18555 8.75 8.39453 8.66797 8.61328C8.58984 8.83203 8.54883 9.0918 8.54492 9.39258ZM6.875 11.2031C6.875 10.9531 6.96094 10.7461 7.13281 10.582C7.30469 10.4141 7.53516 10.3301 7.82422 10.3301C8.10938 10.3301 8.33789 10.4141 8.50977 10.582C8.68555 10.7461 8.77344 10.9531 8.77344 11.2031C8.77344 11.4453 8.68555 11.6504 8.50977 11.8184C8.33789 11.9863 8.10938 12.0703 7.82422 12.0703C7.53516 12.0703 7.30469 11.9863 7.13281 11.8184C6.96094 11.6504 6.875 11.4453 6.875 11.2031Z' fill='%23767678'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_470_1407'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% 50% no-repeat;
  vertical-align: top;
  outline: none;
}
.btn-tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  display: none;
  z-index: 7001;
  width: 1.6rem;
  height: .7rem;
  background: url("data:image/svg+xml,%3Csvg width='16' height='7' viewBox='0 0 16 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.64645 5.64645L1.79289 6.5L3 6.5H8L13 6.5H14.2071L13.3536 5.64645L9.06066 1.35355C8.47487 0.767767 7.52513 0.767766 6.93934 1.35355L2.64645 5.64645Z' fill='white' stroke='%23DFDFE1'/%3E%3Cpath d='M7.29289 1.70711L2 7L8 7L14 7L8.70711 1.70711C8.31658 1.31658 7.68342 1.31658 7.29289 1.70711Z' fill='white'/%3E%3C/svg%3E%0A");
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: default;
}
.btn-tooltip.is-active:after {
  display: block;
  bottom: 0;
}
/* tooltip positon */
.btn-tooltip[data-position="top"] ~ .tooltip-inner {
  bottom: 2.7rem; 
  left: 50%;
  transform: translateX(-50%);
}
.btn-tooltip[data-position="top"]:after {
  transform: rotate(180deg) translateX(50%);
  top: -1.2rem;
}
.btn-tooltip[data-position="right"] ~ .tooltip-inner {
  left: 3rem; 
  top: 50%;
  transform: translateY(-50%);
}
.btn-tooltip[data-position="right"]:after {
  left: auto;
  right: -1.6rem;
  transform: rotate(-90deg);
}
.btn-tooltip[data-position="bottom"] ~ .tooltip-inner {
  top: 2.7rem; 
  left: 50%;
  transform: translateX(-50%);
}
.btn-tooltip[data-position="bottom"]:after {
  top: 2.1rem;
  transform: translateX(-50%);
}
.btn-tooltip[data-position="left"] ~ .tooltip-inner {
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.btn-tooltip[data-position="left"]:after {
  left: -1.6rem;
  transform: rotate(90deg);
}
.tooltip-inner {
  display: none;
  position: absolute;
  z-index: 999;
  min-width: 24rem;
  max-width: 42rem;
  padding: 1rem;
  border: .1rem solid var(--secondary-3);
  background-color: #fff;
  text-align: left;
  border-radius: .6rem;
}
.tooltip-inner.is-active {
  display: block;
}
.tooltip-inner .tooltip-title {
  padding-right: 2rem;
  margin-bottom: .6rem;
  color: var(--grays-1);
  font-size: 1.4rem;
}
.tooltip-inner .tooltip-content {
  color: var(--grays-2);
  font-size: 1.3rem;
}
.tooltip-inner .tooltip-desc {
  margin-top: .8rem;
  color: var(--grays-2);
  font-size: 1.3rem;
}
.tooltip-inner .tooltip-close {
  position: absolute;
  top: .8rem;
  right: .8rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_151_599)'%3E%3Cpath opacity='0.77' d='M9 1.5C10.9891 1.5 12.8968 2.29018 14.3033 3.6967C15.7098 5.10322 16.5 7.01088 16.5 9C16.5 10.9891 15.7098 12.8968 14.3033 14.3033C12.8968 15.7098 10.9891 16.5 9 16.5V16.5C7.01088 16.5 5.10322 15.7098 3.6967 14.3033C2.29018 12.8968 1.5 10.9891 1.5 9V9C1.5 7.01088 2.29018 5.10322 3.6967 3.6967C5.10322 2.29018 7.01088 1.5 9 1.5V1.5Z' fill='%23525252'/%3E%3Cpath d='M6.75 6.75L11.25 11.25' stroke='white' stroke-miterlimit='10' stroke-linecap='square'/%3E%3Cpath d='M11.25 6.75L6.75 11.25' stroke='white' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_151_599'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 0% 50% / 100% no-repeat;
}

/* searchForm */
.form-searchbox {
  display: block;
  width: 100%;
  padding: 2.8rem;
  background: #fff;
  border-radius: 1.6rem;
  box-shadow: .4rem .4rem 2.1rem 0 rgba(86, 86, 86, 0.07);
}
.form-searchbox.bg-none {
  padding: 2.8rem 0;
  box-shadow: none;
  border-radius: 0;
}
.wrap-searchbox.inbtn {
  justify-content: space-between;
}
.wrap-formbox,
.wrap-searchbox,
.searchbox-item {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.wrap-formbox .wrap-group {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.wrap-formbox .wrap-group  + .wrap-group {
  margin-left: .6rem;
}
.wrap-formbox + .wrap-formbox,
.wrap-formbox + .wrap-searchbox.inbtn,
.wrap-searchbox + .wrap-searchbox {
  margin-top: 1.4rem;
}
.form-searchbox + .list-base {
  margin-top: 1rem;
}
.form-searchbox .searchbox-btn {
  display: flex;
  justify-content: flex-end;
}
.searchbox-btn .btn {
  margin-left: 1rem;
}

/* dl-formbox */
.dl-formbox {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.dl-formbox.is-start {
  align-items: flex-start;
}
.dl-formbox + .dl-formbox {
  margin-top: 1.4rem;
}
.dl-formbox dt {
  flex: 0 0 auto;
  min-width: 4.9rem; /* 기본 4글자 기준 */
  margin-right: 1.2rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  text-align: right;
}
.dl-formbox dt > .lb-inp {
  min-width: initial;
  margin-right: 0;
}
.dl-formbox dd:not(.searchbox-btn) {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem; 
  width: auto; 
}
.dl-formbox dd .inp-select,
.dl-formbox dd .inp-base {
  flex: 1 1 auto; 
  min-width: 24rem; 
  max-width: 100%; 
}
.dl-formbox dd .searchbox-item .inp-base {
  min-width: 42.5rem;
}
.dl-formbox dd .inp-select.is-sm {
  min-width: 12rem;
}
.dl-formbox dd + dt {
  margin-left: 2.2rem;
}
.dl-formbox dd .form-radio > label {
  gap: .4rem;
}
.dl-formbox .searchbox-btn {
  position: absolute;
  right: 0;
}
/* dt grid 크기 지정 */
.form-searchbox.dt-length3 .dl-formbox dt {
  min-width: 3.7rem;
}
.form-searchbox.dt-length5 .dl-formbox dt {
  min-width: 6.4rem;
}
.form-searchbox.dt-length6 .dl-formbox dt {
  min-width: 8rem;
}
.form-searchbox.dt-length8 .dl-formbox dt {
  min-width: 10rem;
}
.form-searchbox.dt-length13 .dl-formbox dt {
  min-width: 14rem;
}
.form-searchbox .dl-formbox dt.is-initial {
  min-width: initial;
}

/* textarea */
.wrap-textarea {
  width: 100%;
}
.inp-textarea {
  width: 100%;
  padding: .3rem 1rem;
  min-height: 10.4rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  line-height: 1.4;
  word-break: break-all;
  border: .1rem solid var(--grays-5);
  border-radius: .6rem;
  resize: none;
}
.inp-textarea::placeholder {
  color: var(--grays-3);
}
.inp-textarea:read-only,
.inp-textarea:disabled {
  color: var(--grays-2);
  background-color: var(--grays-6)
}

/* fileUpload */
.form-case {
  display: none;
  margin-top: 1.2rem;
}
.form-file {
  display: flex; 
  align-items: center;
  gap: .8rem;
}
.form-file .btn.is-h28 {
  min-width: 8rem;
  font-size: 1.4rem;
}