@charset "UTF-8";

.area-tbl {
  display: flex;
  gap: 2.8rem;
  margin-top: 2.8rem;
}
.area-tbl .wrap-tbl + .wrap-tbl {
  margin-top: 0;
}
.wrap-tbl + .wrap-tbl {
  margin-top: 3rem;
}
.tbl-base {
  width: 100%;
  table-layout: fixed;
  margin-top: 1rem;
  border-top: .1rem solid var(--grays-1);
  border-bottom: .1rem solid var(--grays-7);
}
.tbl-base + .tbl-base {margin-top: 1.2rem;}
.tbl-base > thead > tr > th {
  height: 4.8rem;
  padding: .5rem 1.6rem;
  color: var(--grays-1);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.8rem;
  background-color: var(--grays-10);
  border-right: .1rem solid var(--grays-7);
  border-bottom: .1rem solid var(--grays-7);
  text-align: left;
}
.tbl-base > thead > tr > th:last-child {
  border-right: 0;
}
.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td,
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  height: 4.8rem;
  padding: .5rem 1.6rem;
  color: var(--grays-1);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: center;
  border-right: .1rem solid var(--grays-7);
}
.tbl-base > tbody > tr > th:last-child,
.tbl-base > tbody > tr > td:last-child,
.tbl-base > tfoot > tr > th:last-child,
.tbl-base > tfoot > tr > td:last-child {
  border-right: 0;
}
.tbl-base > thead > tr,
.tbl-base > tbody > tr {
  border-bottom: .1rem solid var(--grays-7);
}
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  font-weight: 500;
  background-color: var(--grays-10);
}
.tbl-base > tfoot > tr > td {
  text-align: right;
}

.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td {
  color: var(--grays-1);
  background: #fff;
}
.tbl-base > tbody > tr > th.is-bg,
.tbl-base > tbody > tr > td.is-bg {
  background: var(--grays-10);
}
.tbl-base > tbody > tr > th.is-bg {
  color: var(--grays-1);
  font-weight: 500;
  background: var(--grays-10);
  border-right: .1rem solid var(--grays-7);
}
.tbl-base > colgroup + tbody > tr > th {
  padding: .6rem 1.3rem;
  color: var(--grays-1);
  font-weight: 600;
  border-right: .1rem solid var(--grays-7);
}
.tbl-base > colgroup + tbody > tr > td {
  padding: .6rem 1.8rem;
}
.tbl-base > colgroup + tbody > tr > th {
  background-color: var(--grays-10);
}
.tbl-base > tbody > tr > th.align-center .form-checkbox,
.tbl-base > tbody > tr > td.align-center .form-checkbox {
  justify-content: center;
}
.tbl-base .no-result {
  position: relative;
  padding: 7rem 0 3.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--grays-4);
  text-align: center;
}
.tbl-base .no-result::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  margin-top: 3.2rem;
  width: 3.2rem;
  height: 3.2rem;
  background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%237F7F83' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M15.1667 21.3333C15.1667 20.8761 15.5429 20.5 16.0001 20.5C16.4573 20.5 16.8334 20.8761 16.8334 21.3333C16.8334 21.7905 16.4573 22.1667 16.0001 22.1667C15.5429 22.1667 15.1667 21.7905 15.1667 21.3333Z' fill='%237F7F83' stroke='%237F7F83'/%3E%3Cpath d='M16 10.667V16.0003' stroke='%237F7F83' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat 50% 100% / 100%;
  transform: translateX(-50%);
}
.tbl-title {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.4rem;
	font-weight: 700;
  line-height: 2.2rem;
}
.tbl-base .wrap-group.is-flex {
  display: flex;
  align-items: center;
}
.tbl-base .wrap-group.is-flex .form-checkbox + .form-checkbox {
  margin-top: 0;
  margin-left: 1.6rem;
}
.tbl-base > thead > tr > th.bold,
.tbl-base > thead > tr > td.bold,
.tbl-base > tbody > tr > th.bold,
.tbl-base > tbody > tr > td.bold,
.module-top .tbl-base > tbody > tr > th.bold,
.module-top .tbl-base > tbody > tr > td.bold {
  font-weight: 700;
}
.tbl-base .btn {
  min-width: initial;
}

/* .table has-left */
.tbl-base.has-left > thead > tr > th,
.tbl-base.has-left > tbody > tr > th,
.tbl-base.has-left > tbody > tr > td {
  text-align: left;
}
/* .table has-data */
.tbl-base.has-data > tbody > tr > td {
  text-align: left;
}

/* tbl-head */
.tbl-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2.8rem;
  margin-bottom: 1rem;
}
.tbl-head.is-end {
  justify-content: flex-end;
}
.tbl-head .count-text {
  color: var(--grays-1);
  font-size: 1.4rem;
}
.tbl-head .count-text .count-num {
  font-weight: 600;
}
.tbl-head .inp-select {
  min-width: 8rem;
  padding: .3rem 1.2rem;
  color: #494A4F;
  background-position: calc(100%  - 1.2rem) 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 5.33366L7.99996 10.667L2.66663 5.33366' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.tbl-head .info-text {
  color: var(--grays-2);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.tbl-head .head-option {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.tbl-btn-group {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 1rem;
}
.tbl-btn-group.is-right {
  justify-content: flex-end;
}
.tbl-btn-group.is-center {
  justify-content: center;
}

/* tbl-scroll */
.tbl-base.has-scrollbar {
  table-layout: auto;
  margin-bottom: .6rem;
}
.scroll-content {
  overflow: auto;
}
/* nodata */
.tbl-nodata, 
.tbl-nodata tbody tr {
  border-bottom: 0;
}
/* rowspan이 있을 경우 border-left 값 추가 */
.tbl-base tr > th.is-border {
  border-left: .1rem solid var(--grays-7);
} 

/* dl type */
.tbl-dl {
  display: inline-flex;
  align-items: center;
  line-height: 2rem;
}
.tbl-dl dt {
  padding-right: 1.2rem;
  color: var(--grays-2); 
}
.tbl-dl dd {
  color: var(--grays-1);
  font-weight: 500;
}
.tbl-dl + .tbl-base {
  margin-top: 1.4rem;
}
.dl-formbox + .tbl-base {
  margin-top: 2.4rem;
}
.tbl-dl + .tbl-dl {
  margin-left: 2.8rem;
  padding-left: 2.8rem;
  border-left: .1rem solid #D9D9D9;
  line-height: 2.2rem;
}

/* etc */
.tbl-base > tbody > tr > td .data-block {
  display: block;
}
.tbl-base > tbody > tr > td .btn-group {
  justify-content: center;
}
.tbl-base > tbody > tr > td .btn-group button {
  flex: initial;
}