@charset "UTF-8";

.wrap-link.is-end {
  margin-top: 1.2rem;
}
.wrap-link.is-end {
  display: flex;
  justify-content: flex-end;
}

.device .swiper {
  width: 100%;
  height: 100%;
}
.device .swiper-slide {
  min-height: 20rem;
  font-size: 1.6rem;
  background: #ddd;
  text-align: center;
}
.device .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap-device {
  margin-bottom: 2rem;
}